<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>pixelmix.ttf</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Pokedex+ uses your local network to discover nearby trainers for Versus battles.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_pokedex-vs._tcp</string>
		<string>_pokedex-vs._udp</string>
	</array>
</dict>
</plist>
